<div layout="row" layout-xs="column" flex="grow" layout-padding>
  <md-card flex-xs flex-gt-xs="50" flex-gt-sm="33">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Ficha Cadastral</span>
        <span class="md-subhead">Acompanhamento dos dados de cadastro do atleta.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon class="glyphicon glyphicon-user md-primary" style="font-size: 84px;"></md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Ver</md-button>
      <md-button>Atualizar</md-button>
    </md-card-actions>
  </md-card>

  <md-card flex-xs flex-gt-xs="50" flex-gt-sm="33">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Avaliações Físicas</span>
        <span class="md-subhead">Acompanhamento das avaliações físicas do atleta.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon class="glyphicon glyphicon-scale" style="font-size: 84px;"></md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Ver</md-button>
    </md-card-actions>
  </md-card>

  <md-card flex-xs flex-gt-xs="50" flex-gt-sm="33">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Resultados</span>
        <span class="md-subhead">Acompanhamento dos resultados do atleta.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media"></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Ver</md-button>
    </md-card-actions>
  </md-card>

</div>
