<div layout="row" layout-xs="column" flex="grow" layout-padding>

  <md-card flex-xs flex-gt-xs="50" flex-gt-sm="33">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Plano de treinamentos</span>
        <span class="md-subhead">Acompanhamento e atualização plano de treinamentos do time.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon class="glyphicon glyphicon-blackboard" style="font-size: 84px;"></md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Ver</md-button>
      <md-button>Atualizar</md-button>
    </md-card-actions>
  </md-card>

  <md-card flex-xs flex-gt-xs="50" flex-gt-sm="33">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Calendário de competições</span>
        <span class="md-subhead">Acompanhamento e atualização do calendário de competições do time.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon class="glyphicon glyphicon-calendar" style="font-size: 84px;"></md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Ver</md-button>
      <md-button>Atualizar</md-button>
    </md-card-actions>
  </md-card>

  <md-card flex-xs flex-gt-xs="50" flex-gt-sm="33">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Avaliações Físicas</span>
        <span class="md-subhead">Acompanhamento e atualização das avaliações físicas dos atletas.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon class="glyphicon glyphicon-scale" style="font-size: 84px;"></md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Ver</md-button>
      <md-button>Atualizar</md-button>
      <md-button>Nova</md-button>
    </md-card-actions>
  </md-card>

</div>
