<md-dialog aria-label="Ver Cartão Sócio-Torcedor">
  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Ver Cartão Sócio-Torcedor</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="mdi mdi-close" aria-label="Fechar"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <p>{{nome}}</p>

        <div style="width: 359px; height: 235px; background-image: url('images/cartao.png');">
            <div style="position: absolute; left: 140px; bottom: 30px; font-weight: bold; padding: 5px; background-color: #FFF;">#{{cartao.numero}} - Val. {{cartao.mes_validade.length === 1 ?  '0' + cartao.mes_validade : cartao.mes_validade}}/{{cartao.ano_validade}}</div>
        </div>
      </div>
    </md-dialog-content>
</md-dialog>