<div layout="row" layout-xs="column" flex="grow" layout-padding>
  <md-card flex-xs flex-gt-xs="50" flex-gt-sm="35" flex-offset-gt-sm="15">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Já tenho cadastro!</span>
        <span class="md-subhead">Já sou cadastrado na área restrita, como Sócio-Torcedor, atleta, comissão técnica ou dirigente.</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="column" layout-align="end center">
      <form name="formLogin">
        <md-input-container class="md-block" md-is-error="formLogin.login.$dirty && formLogin.login.$invalid">
          <!-- Use floating label instead of placeholder -->
          <label>Login</label>
          <md-icon class="mdi mdi-account"></md-icon>
          <input name="login" ng-model="entrar.user.login" type="text"  required />
          <div ng-messages="formLogin.login.$error">
            <div ng-message="required">Campo obrigatório.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" md-is-error="formLogin.password.$dirty && formLogin.password.$invalid">
          <!-- Use floating label instead of placeholder -->
          <label>Senha</label>
          <md-icon class="mdi mdi-account-key"></md-icon>
          <input name="password" ng-model="entrar.user.password" type="password" required />
          <div ng-messages="formLogin.password.$error">
            <div ng-message="required">Campo obrigatório.</div>
          </div>
        </md-input-container>

        <md-button class="md-primary md-raised" ng-click="entrar.doLogin()">Entrar</md-button>
      </form>
    </md-card-actions>
  </md-card>

  <md-card flex-xs flex-gt-xs="50" flex-gt-sm="35">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Realizar cadastro de Sócio-Torcedor</span>
        <span class="md-subhead">Fazer o cadastro para adquirir o cartão Sócio-Torcedor.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon class="mdi mdi-account-plus" style="font-size: 84px;"></md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="column" layout-align="end center">
      <md-button class="md-primary md-raised" ng-click="doSingupSocio()">Cadastrar Sócio</md-button>
    </md-card-actions>
  </md-card>

</div>
