<div layout="row" layout-xs="column" flex="grow" layout-padding>
  <md-card flex-xs flex-gt-xs="100" flex-gt-sm="70" flex-offset-gt-sm="15">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Cadastrar Sócio-Torcedor</span>
        <span class="md-subhead">Preencher o cadastro de um novo Sócio-Torcedor.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon class="mdi mdi-account-plus md-primary" style="font-size: 84px;"></md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <form id="formCadastroSocio" name="formCadastroSocio">
      <md-card-content layout="column">
        <div ng-if="!cadastrarSocio.cadastroRealizado">
          <div layout="row" layout-wrap>
            <div flex-gt-sm="50" flex="100">
              <md-input-container class="md-block" >
                <label>Nome</label>
                <input type="text" name="nome" ng-model="cadastrarSocio.socio.pessoa_fisica.nome" maxlength="120" required/>

                <div ng-messages="formCadastroSocio.nome.$error">
                  <div ng-message="required">Campo obrigatório.</div>
                </div>
              </md-input-container>
            </div>

            <div flex-gt-sm="50" flex="100">
              <md-input-container class="md-block">
                <label>Data de Nascimento</label>
                <input type="text" name="dataNascimento"  ui-mask="99/99/9999" ng-model="cadastrarSocio.dataNascimento" required/>
                <div ng-messages="formCadastroSocio.dataNascimento.$error">
                  <div ng-message="required">Campo obrigatório.</div>
                </div>
              </md-input-container>
            </div>

            <div flex-gt-xs="50" flex="100">
              <md-input-container class="md-block">
                <label>CPF</label>
                <input type="text" name="cpf" ui-mask="999.999.999-99" ng-model="cadastrarSocio.socio.pessoa_fisica.cpf" ng-cpf required />
                <div ng-messages="formCadastroSocio.cpf.$error">
                  <div ng-message="required">Campo obrigatório.</div>
                  <div ng-message="cpf">CPF inválido.</div>
                </div>
              </md-input-container>
            </div>

            <div flex-gt-xs="50" flex="100">
              <md-input-container class="md-block">
                <label>RG</label>
                <input type="text" name="rg" ng-model="cadastrarSocio.socio.pessoa_fisica.rg" maxlength="20" required/>
                <div ng-messages="formCadastroSocio.rg.$error">
                  <div ng-message="required">Campo obrigatório.</div>
                </div>
              </md-input-container>
            </div>

            <div flex="100">
              <fieldset flex>
                <legend>Endereço</legend>

                <div layout="row" layout-wrap>
                  <div flex-gt-xs="50" flex="100">
                    <md-input-container class="md-block" >
                      <label>CEP</label>
                      <input type="text" name="cep" ui-mask="99999-999" ng-model="cadastrarSocio.socio.pessoa_fisica.endereco_cep"  required/>

                      <div ng-messages="formCadastroSocio.cep.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                      </div>
                    </md-input-container>
                  </div>

                  <div flex-gt-xs="50" flex="none">
                    <md-button class="md-primary" ng-href="{{cadastrarSocio.linkPesquisaCep}}" target="_blank">Não sei o CEP</md-button>
                  </div>

                  <div flex-gt-sm="50" flex="100">
                    <md-input-container class="md-block" >
                      <label>Logradouro</label>
                      <input type="text" name="logradouro" ng-model="cadastrarSocio.socio.pessoa_fisica.endereco_logradouro" maxlength="120" required/>
                      <div ng-messages="formCadastroSocio.logradouro.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                      </div>
                    </md-input-container>
                  </div>

                  <div flex-gt-sm="50" flex="100">
                    <md-input-container class="md-block" >
                      <label>Número</label>
                      <input type="text" name="numero" ng-model="cadastrarSocio.socio.pessoa_fisica.endereco_numero" maxlength="5" required/>
                      <div ng-messages="formCadastroSocio.rg.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                      </div>
                    </md-input-container>
                  </div>

                  <div flex-gt-sm="50" flex="100">
                    <md-input-container class="md-block" >
                      <label>Complemento</label>
                      <input type="text" name="complemento" ng-model="cadastrarSocio.socio.pessoa_fisica.endereco_complemento" maxlength="120"  />
                    </md-input-container>
                  </div>

                  <div flex-gt-sm="50" flex="100">
                    <md-input-container class="md-block" >
                      <label>Bairro</label>
                      <input type="text" name="bairro" ng-model="cadastrarSocio.socio.pessoa_fisica.endereco_bairro" maxlength="120" required/>
                      <div ng-messages="formCadastroSocio.bairro.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                      </div>
                    </md-input-container>
                  </div>

                  <div flex-gt-sm="50" flex="100">
                    <md-input-container class="md-block" >
                      <label>Município</label>
                      <input type="text" name="municipio" ng-model="cadastrarSocio.socio.pessoa_fisica.endereco_municipio" maxlength="120" required/>
                      <div ng-messages="formCadastroSocio.municipio.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                      </div>
                    </md-input-container>
                  </div>

                  <div flex-gt-sm="50" flex="100">
                    <md-input-container class="md-block" >
                      <label>Unidade Federativa</label>
                      <md-select name="uf" ng-model="cadastrarSocio.socio.pessoa_fisica.endereco_uf" required>
                        <md-option><em>Não informada</em></md-option>
                        <md-option ng-repeat="uf in cadastrarSocio.ufs" ng-value="uf">
                          {{uf}}
                        </md-option>
                      </md-select>
                      <div ng-messages="formCadastroSocio.uf.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                      </div>
                    </md-input-container>
                  </div>
                </div>
              </fieldset>
            </div>

            <div flex="100">
              <fieldset flex>
                <legend>Contatos</legend>

                <div layout="row" layout-wrap>
                  <div flex-gt-xs="50" flex="100">
                    <md-input-container class="md-block" >
                      <label>Telefone Principal</label>
                      <input type="text" name="telefonePrincipal" ui-mask="(99) ?999999999" ng-model="cadastrarSocio.socio.pessoa_fisica.contato_tel_principal" required />
                      <div ng-messages="formCadastroSocio.telefonePrincipal.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                      </div>
                    </md-input-container>
                  </div>

                  <div flex-gt-xs="50" flex="100">
                    <md-input-container class="md-block" >
                      <label>Telefone Secundário</label>
                      <input type="text" name="telefoneSecundario" ui-mask="(99) ?999999999" ng-model="cadastrarSocio.socio.pessoa_fisica.contato_tel_secundario" />
                    </md-input-container>
                  </div>

                  <div flex-gt-sm="50" flex="100">
                    <md-input-container class="md-block" >
                      <label>E-mail</label>
                      <input type="email" name="email" ng-model="cadastrarSocio.socio.pessoa_fisica.contato_email" required />
                      <div ng-messages="formCadastroSocio.email.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                        <div ng-message="email">E-mail com formato inválido.</div>
                      </div>

                    </md-input-container>
                  </div>

                   <div flex-gt-sm="50" flex="100">
                    <md-input-container class="md-block" md-is-error="cadastrarSocio.confirmacaoEmail != cadastrarSocio.socio.pessoa_fisica.contato_email">
                      <label>Confirme o E-mail</label>
                      <input type="email" name="confirmacaoEmail" ng-model="cadastrarSocio.confirmacaoEmail" required />
                      <div ng-messages="formCadastroSocio.confirmacaoEmail.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                      </div>
                    </md-input-container>
                  </div>

                  <div flex="100">
                    <label>Aceito receber informações do Maximus Esporte Clube por:</label>
                  </div>

                  <div flex-gt-xs="50" flex="100">

                    <md-checkbox ng-model="cadastrarSocio.socio.pessoa_fisica.contato_autoriza_email" aria-label="Aceito receber informações do Maximus por E-mail" >
                      E-mail
                    </md-checkbox>

                  </div>

                  <div flex-gt-xs="50" flex="100" layout="row">

                    <md-checkbox ng-model="cadastrarSocio.socio.pessoa_fisica.contato_autoriza_wapp" aria-label="Aceito receber informações do Maximus por WhatsApp" >
                      WhatsApp
                    </md-checkbox>

                  </div>

                </div>
              </fieldset>
            </div>

            <div flex="100">
              <fieldset flex>
                <legend>Usuário</legend>

                <div layout="column" layout-wrap>
                  <div flex-gt-sm="50" flex="100">
                    <md-input-container class="md-block" >
                      <label>Nome do usuário</label>
                      <md-icon class="mdi mdi-account"></md-icon>
                      <input type="text" name="login" ng-model="cadastrarSocio.socio.usuario.login" maxlength="20" required />
                      <div ng-messages="formCadastroSocio.login.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                      </div>
                    </md-input-container>
                  </div>

                  <div flex-gt-sm="50" flex="100">
                    <md-input-container class="md-block" >
                      <label>Senha</label>
                      <md-icon class="mdi mdi-account-key"></md-icon>
                      <input type="password" name="password" ng-model="cadastrarSocio.socio.usuario.password" minlength="6" md-minlength="6" required />
                      <div ng-messages="formCadastroSocio.password.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                        <div ng-message="md-minlength">A senha deve ter pelo menos 6 caracteres.</div>
                      </div>
                    </md-input-container>
                  </div>

                  <div flex-gt-sm="50" flex="100">
                    <md-input-container class="md-block" >
                      <label>Confirmação</label>
                      <md-icon class="mdi mdi-account-key"></md-icon>
                      <input type="password" name="confirmaSenha"  ng-model="cadastrarSocio.senhaConfirmar" required />
                      <div ng-messages="formCadastroSocio.confirmaSenha.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                      </div>
                    </md-input-container>
                  </div>

                </div>
              </fieldset>
            </div>

          </div>

          <h4>IMPORTANTE: Autorização para Uso da Imagem</h4>

          <p>Ao submeter o meu cadastro, eu AUTORIZO o uso de minha imagem em todo e qualquer material entre fotos e documentos, para ser utilizada em campanhas promocionais
            e institucional do Maximus Esporte Clube. A presente autorização é concedida a título gratuito, abrangendo o uso da imagem acima
            mencionada em todo território nacional e no exterior, das seguintes formas: (I) out-door; (II) busdoor; folhetos em geral (encartes, mala
            direta, catálogo, etc.); (III) folder de apresentação; (IV) anúncios em revistas e jornais em geral; (V) home page; (VI) cartazes; (VII) back-
            light; (VIII) mídia eletrônica (painéis, vídeo-tapes, televisão, cinema, programa para rádio, entre outros).</p>
        </div>

        <div ng-if="cadastrarSocio.cadastroRealizado" layout="column">

          <div id="resultadoCadastroSocio" style="text-align: center;">
            <h4>Cadastro realizado com sucesso!</h4>

            <p>Para habilitar seu cartão de Sócio-Torcedor, por favor realizar o pagamento através do botão abaixo.</p>

          </div>

          <div id="resultadoPagamento" style="text-align: center;" ng-if="cadastrarSocio.mensagemStatusPagamento !== ''">
            <h4>{{cadastrarSocio.mensagemStatusPagamento}}</h4>

            <p ng-if="cadastrarSocio.solicitarNumeroCartao">Informe abaixo o número do cartão para vincular ao seu cadastro e finalize o processo de cadastro do Sócio-Torcedor.
              Caso o seu pagamento já tenha sido aprovado, então seu cartão já estará habilitado. Caso ainda esteja em processamento, ao realizar o login no nosso aplicativo o
              mesmo informará a situação do pagamento se ainda existir pendência ou se o pagamento foi rejeitado.</p>

              <md-input-container class="md-block" ng-if="cadastrarSocio.solicitarNumeroCartao" style="text-align: left;">
                <label>Número do cartão Sócio-Torcedor</label>
                <md-icon class="mdi mdi-credit-card-plus"></md-icon>
                <input type="number" ng-model="cadastrarSocio.socio.numeroCartaoAtual" required />
              </md-input-container>

          </div>
          <!-- a mp-mode="dftl" href="https://www.mercadopago.com/mlb/checkout/start?pref_id=89639633-a6cae744-ed61-44cd-9183-2ba8097a1e34" name="MP-payButton" class='lightBlue-ar-l-rn-bron'>Pagar</a -->


        </div>

      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="cadastrarSocio.cadastrar()" ng-if="!cadastrarSocio.cadastroRealizado">Cadastrar</md-button>
        <div ng-if="cadastrarSocio.cadastroRealizado && !cadastrarSocio.solicitarNumeroCartao">
          <a name="MP-payButton" class='lightBlue-M-Rn-Ar-BrOn' ng-click="cadastrarSocio.pagar()">Pagar</a>
        </div>
        <md-button class="md-primary md-raised" ng-click="cadastrarSocio.finalizar()" ng-if="cadastrarSocio.solicitarNumeroCartao">Finalizar</md-button>
      </md-card-actions>
    </form>
  </md-card>
</div>
