<div layout="row" layout-xs="column" flex="grow" layout-wrap>
  <md-card flex-xs="100" flex-gt-xs="50" flex-gt-md="25">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Ficha Cadastral</span>
        <span class="md-subhead">Atualização de dados cadastrais do Sócio-Torcedor.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon md-font-icon="mdi mdi-account-edit" class="md-primary" style="font-size: 84px;"></md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Ver</md-button>
      <md-button>Atualizar</md-button>
    </md-card-actions>
  </md-card>

  <md-card flex-xs="100" flex-gt-xs="50" flex-gt-md="25">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Pagamento</span>
        <span class="md-subhead">Realizar pagamento pendente.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon md-font-icon="mdi mdi-credit-card" style="font-size: 84px;"></md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Pagar</md-button>
    </md-card-actions>
  </md-card>

  <md-card flex-xs="100" flex-gt-xs="50" flex-gt-md="25">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Cartão Sócio-Torcedor</span>
        <span class="md-subhead">Vincular ou ver o cartão-sócio torcedor.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon md-font-icon="mdi mdi-account-card-details" style="font-size: 84px;"></md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Ver</md-button>
      <md-button>Vincular</md-button>
    </md-card-actions>
  </md-card>

</div>
