<div layout="row" layout-align="center stretch" layout-wrap >
  <md-card flex-xs="100" flex-gt-xs="45" flex-gt-sm="30">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Ficha Cadastral</span>
        <span class="md-subhead">Atualização de dados cadastrais do Sócio-Torcedor.<br><small>* Estamos trabalhando nisso. Em breve a funcionalidade estará disponível!</small></span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon md-font-icon="mdi mdi-account-edit" class="md-default" style="font-size: 84px;"></md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-disabled="true">Ver</md-button>
      <md-button ng-disabled="true">Atualizar</md-button>
    </md-card-actions>
  </md-card>

  <md-card flex-xs="100" flex-gt-xs="45" flex-gt-sm="30">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Pagamento</span>
        <span class="md-subhead">Realizar pagamento pendente.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon md-font-icon="mdi mdi-credit-card" ng-class="{'md-primary' : socioTorcedor.habilitarEfetuarPagamento }" style="font-size: 84px;"></md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-disabled="!socioTorcedor.habilitarEfetuarPagamento" ng-click="socioTorcedor.pagar()">Pagar</md-button>
    </md-card-actions>
  </md-card>

  <md-card flex-xs="100" flex-gt-xs="45" flex-gt-sm="30">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Cartão Sócio-Torcedor</span>
        <span class="md-subhead">Vincular ou ver o cartão-sócio torcedor.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon md-font-icon="mdi mdi-account-card-details" ng-class="{'md-primary': socioTorcedor.habilitarVincularCartaoSocio || socioTorcedor.habilitarVerCartaoSocio }" style="font-size: 84px;"></md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-if="socioTorcedor.habilitarVerCartaoSocio" ng-click="socioTorcedor.verCartao()">Ver</md-button>
      <md-button ng-if="socioTorcedor.habilitarVincularCartaoSocio" ng-click="socioTorcedor.vincularPagamentoCartao()">Vincular</md-button>
    </md-card-actions>
  </md-card>

</div>
